/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*colors*/
    --primary: linear-gradient(90deg, #750016 0%, #c80028 50%, #750016 100%);
    --secondary: #ffffff;
    --text: #000000;

    /*taille-texte*/
    --font-size-16: 1rem;
    /*1rem = 16px*/
    --font-size-20: 1.25rem;
    /*1.25rem = 16px (20/16)*/
    --font-size-24: 1.5rem;
    /*1.5rem = 16px (24/16)*/
    --font-size-40: 2.5rem;
    /*2.5rem = 16px*/

    /*police*/
    --font-family-main: "Bebas Neue";
    --font-family-title: "Montserrat";
}


/* ******************************** */


/* img {
    display: block;
    width: 100%;
} */


/* .hidden {
    display: none;
} */

.monkey-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 30vh;
    background: #c90e0e;
    margin: 0;
    padding: 0;
}

.monkey {
    will-change: transform;
    position: absolute;
    left: 0;
    /* Position de départ à gauche */
    aspect-ratio: 1 / 1;
    background: url("../images/monkeys/arbre-1.svg");
    background-size: cover;
    padding-bottom: 6%;
    width: 20%;
    top: 37%;
    transform: translateY(-50%);
}


/* header {
    background: linear-gradient(90deg, #750016 0%, #c80028 50%, #750016 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    height: 10vh;

    img {
        height: 100%;
        justify-content: center;
        align-items: center;
        width: 50%;

    }
} */

/* @media only screen and (min-width: 480px) and (max-width: 768px) {
    header {
        img {
            height: 80%;
            width: 50%;
        }
    }

} */


.display-monkey {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: url("../images/monkeys/autres/fond-bois.png");

    /* Galerie div */
    .galerie {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2%;
        padding-left: 1%;
        padding-top: 2%;
        padding-right: 1%;
        width: 70%;

        .flip-card {
            background-color: transparent;
            width: 10%;
            perspective: 1000px;
            aspect-ratio: 3 / 4;
            margin-bottom: 2%;

            .metallic {
                border: none;
                outline: none;
                color: #000;
                background: linear-gradient(45deg,
                        #999 5%,
                        #fff 10%,
                        #ccc 30%,
                        #ddd 50%,
                        #ccc 70%,
                        #fff 80%,
                        #999 95%);
                text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-front {
            img {
                padding-top: 20px;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .flip-card-back {
            background-color: #f5c549;
            ;
            color: black;
            transform: rotateY(180deg);


        }
    }

    /* Drop & drag div
    .drag-drop {
        background: url("../images/monkeys/autres/fond-carte1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;


        .contain-first-card {

            display: flex;
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: center;

            .first-card {
                border: 2px solid rgb(255, 255, 255);
                width: 24%;
                height: auto;
                aspect-ratio: 3/4;
                border-radius: 10%;
                margin-bottom: 70px;
            }

        }

        .contain-second-card {
            display: flex;
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: center;

            .second-card {
                border: 2px solid rgb(255, 255, 255);
                width: 24%;
                height: auto;
                aspect-ratio: 3/4;
                border-radius: 10%;
                margin-top: 70px;
            }

        }

    }
} */

/* --------------------- */
/*        POPUP          */
/* --------------------- */
/* .open-btn {
    background-color: #211f1f;
    border-radius: 50%;
}

.popup-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(122, 122, 122, 0.3);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.popup-content {
    display: flex;
    background-color: #ebeff3;
    padding: 10px;
    width: auto;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 80%;
    border-radius: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    transform: scaleY(0);
    opacity: 0;
    animation: apparPop 0.3s ease-in forwards;
}

@keyframes apparPop {
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

.button-close-gameOver {
    position: absolute;
    color: #4d4e53;
    cursor: pointer;
    top: 30px;
    right: 30px;
    transition: 0.35s;
}

.top {
    text-align: center;
    color: black;
}

.button-close-gameOver:hover {
    transition: 0.35s;
    color: #989295;
}

.packages {
    display: flex;
    margin: 20px;
    margin-top: 0;
    width: auto;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 20px;
    color: #211f1f;

    h1 {
        margin-bottom: 4%;
    }

    h2 {
        margin: 0;
    }

    span {
        color: var(--color-orange);
        font-weight: bold;

        i {
            margin-left: 4px;
        }
    }
} */



/* section.monkey-container {
    background: linear-gradient(90deg, #750016 0%, #c80028 50%, #750016 100%);
    display: flex;
    height: 10vh;
    background-size: contain;
    justify-content: center;

    div.monkey-1,
    div.monkey-2,
    div.monkey-3,
    div.monkey-4,
    div.monkey-5,
    div.monkey-6,
    div.monkey-7,
    div.monkey-8,
    div.monkey-9 {
        height: 100%;
        width: 10%;
        background-size: contain;
        background-repeat: no-repeat;

    }
}

div.monkey-1 {
    background: url("../images/monkeys/arbre-1.svg");
}

div.monkey-2 {
    background: url("../images/monkeys/arbre-3.svg");
}


.dwwm {
    div {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        white-space: wrap;
        align-items: center;
    }

}

.glasberg {
    background: rgba(122, 122, 122, 0.4);
    color: #555;
    font-family: 'Roboto';
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: row;


}

p {
    font-size: 4.5rem;
    color: #999;
    margin: 10px;
    padding-left: 50px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-weight: 300;
}

.img-win {
    width: 370px;
    height: 258px;
    aspect-ratio: 3.5/4;
}

.cite {
    width: 470px;
    animation: reveal 21s infinite;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
}

.citation {
    margin-left: -355px;
    animation: slidein 21s infinite;
    color: #000;
    font-weight: bolder;
    margin-bottom: 10px;
}

.signature {
    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
    animation: showup 21s infinite;
    text-align: end;
    padding-top: 25px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bolder;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 555px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 555px;
    }

div.monkey-3 {
    background: url("../images/monkeys/arbre-3.svg");
}

div.monkey-4 {
    background: url("../images/monkeys/arbre-4.svg");
}

div.monkey-5 {
    background: url("../images/monkeys/arbre-5.svg");
}

div.monkey-6 {
    background: url("../images/monkeys/arbre-6.svg");
}

div.monkey-7 {
    background: url("../images/monkeys/arbre-7.svg");
}

div.monkey-8 {
    background: url("../images/monkeys/arbre-8.svg");
}

div.monkey-9 {
    background: url("../images/monkeys/arbre-9.svg");
}


@media only screen and (min-width: 480px) and (max-width: 768px) {
    /* ruleset for 480px - 768px */

    /* section.monkey-container {

        div.monkey-1,
        div.monkey-2,
        div.monkey-3,
        div.monkey-4,
        div.monkey-5,
        div.monkey-6,
        div.monkey-7,
        div.monkey-8,
        div.monkey-9 {
            display: flex;
            height: 100%;
            width: 10%;
            background-size: contain;
            background-repeat: no-repeat;
        }
    } */
}