@import url("https://api.fonts.coollabs.io/css2?family=Red+Hat+Text:wght@700&display=swap") cover;

/* inspiré par Joseph Warren (https://codepen.io/jdubtheegreat/pen/eYQaxjv) */
:root {
    --minutes: 0;
    --seconds: 0;
    --desaturated-blue: #343650;
    --dark-blue-900: #191a24;
    --bg-clr-card: var(--desaturated-blue);
    --bg-clr-card-shadow: var(--dark-blue-900);
    --txt-clr-card: #ffffff;
    /* changer ici pour modif taille card (au départ 4.5rem) */
    --txt-size-card: 1.5rem;
}

.content-grid-timer {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
}

.flip-card-timer {
    font-family: "Red Hat Text", sans-serif;
    /* changer ici pour modif taille card (au départ 150px) */
    --_flip-card-size: 50px;
    background: linear-gradient(to bottom, #2F3047 50%, var(--bg-clr-card) 0);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem var(--bg-clr-card-shadow);
    color: var(--txt-clr-card);
    color: white;
    display: inline-flex;
    flex-direction: column;
    font-size: var(--txt-size-card);
    font-weight: 700;
    position: relative;
    perspective: 400px;
    height: var(--_flip-card-size);
    width: var(--_flip-card-size);
}

.flip-card-timer::before,
.flip-card-timer::after {
    /* changer ici pour modif taille card (au départ 12px) */
    --_pivot-pt-size: 4px;
    content: "";
    background: var(--dark-blue-900);
    border-radius: 50%;
    height: var(--_pivot-pt-size);
    width: var(--_pivot-pt-size);
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 99;
}

.flip-card-timer::before {
    left: calc(var(--_pivot-pt-size) / -2);
}

.flip-card-timer::after {
    right: calc(var(--_pivot-pt-size) / -2);
}

.flip-card-timer .top-timer::before {
    content: "";
    background: var(--bg-clr-card-shadow);
    inset: 0;
    opacity: 0.2;
    z-index: 99;
}

.flip-card-timer .time {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.flip-card-timer .top-timer,
.flip-card-timer .bottom-timer {
    --_flip-speed: 450ms;
    background: var(--bg-clr-card);
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    height: 50%;
    width: 100%;
    transform-style: preserve-3d;
}

.flip-card-timer .top-timer[data-flip=true] {
    animation: top-to-bottom var(--_flip-speed) ease-in;
}

.flip-card-timer .bottom-timer[data-flip=true] {
    animation: bottom-to-top var(--_flip-speed) ease-out var(--_flip-speed);
}

.flip-card-timer .top-timer {
    border-radius: 0.5rem 0.5rem 0 0;
    transform-origin: bottom;
}

.flip-card-timer .bottom-timer {
    border-radius: 0 0 0.5rem 0.5rem;
    top: 50%;
    transform-origin: top;
}

.flip-card-timer .top-timer::after {
    top: 50%;
}

.flip-card-timer .top-timer::after,
.flip-card-timer .top-timer::before,
.flip-card-timer .bottom-timer::after {
    position: absolute;
}

.flip-card-timer .bottom-timer::after {
    top: -50%;
}

.flip-card-timer:nth-child(1) .top-timer::after,
.flip-card-timer:nth-child(1) .bottom-timer::after {
    counter-reset: minutes var(--minutes);
    content: counter(minutes, decimal-leading-zero);
}

.flip-card-timer:nth-child(2) .top-timer::after,
.flip-card-timer:nth-child(2) .bottom-timer::after {
    counter-reset: seconds var(--seconds);
    content: counter(seconds, decimal-leading-zero);
}

@keyframes top-to-bottom {
    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes bottom-to-top {
    0% {
        transform: rotateX(90deg);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    }

    100% {
        transform: rotateX(0deg);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0);
    }
}